/* ==========================================================================
   Global Footer
   ========================================================================== */

ul.g-connect{
	list-style-type: none;
	padding: 0;
	margin: 0 0 10px 0;
	li{
		margin: 0;
		padding: 0;
		display: inline-block;
		a{
			padding: 3px 5px;
			text-decoration: none;
			margin-right: 20px;
			font-size: 14px;
			font-weight: bold;
			background: linear-gradient(to bottom, #fff 50%, lighten($primary-3, 47%) 50%);
			background-size: 200% 200%;
			background-position: top;
			transition: all 100ms linear;
			color: $grey-3;
			i{
				display: inline-block;
				color: $primary-3;
				line-height: 29px !important;
				margin-right: 8px;
			}
			&:hover, &:focus{
				color: $primary-3;
				background-position: bottom;
			}
		}
	}
}
	