/* ==========================================================================
   Homepage Specific Styles
   ========================================================================== */
html, body, .main, .page, .animated{
	height: 100%;
}

.g-profile{
	height: 100%;
	width: 450px;
	position: absolute;
	top: 0;
	.g-profile-img{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url('/img/profile2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	@media (max-width: $max-break-tablet) {
		display: none;
	}
}

.g-profile-copy-container{
	left: 450px;
	height: 100%;
	position: absolute;
	.g-profile-copy{
		max-width: 860px;
		padding: 50px;
		p{
			max-width: 660px;
		}
	}
	@media (max-width: $max-break-tablet) {
		width: 100%;
		left: 0;
		.g-profile-copy {
			padding: 15px;
		}
	}
}
