/* ==========================================================================
   Homepage Specific Styles
   ========================================================================== */
html, body, .main, .page, .animated{
	height: 100%;
}

.g-profile{
	height: 100%;
	width: 450px;
	position: fixed;
	top: 0;
	.g-profile-img{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url('/img/profile2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	@media (max-width: 1000px) {
		display: none;
	}
}

.g-profile-container{
	padding: 40px 40px 40px 490px;
	width: 100%;
	.g-profile-copy{
		max-width: 860px;
		p{
			max-width: 660px;
		}
	}
	@media (max-width: 1000px) {
		padding: 15px;
		.g-profile-copy{
			text-align: center;
			max-width: 100%;
			p{
				margin: 20px auto;
			}
		}
	}
}
