/* ==========================================================================
   Work page Specific Styles
   ========================================================================== */

//work page samples
.g-featured{
	@extend .transition;
  background-size: cover;
  background-position: top center;
	box-shadow: 1px 1px 30px rgba(0,0,0,.3);
	position: relative;
	@extend .transition;
	transform: scale(1);
	&:after{
		content: "";
    display: block;
    padding-bottom: 64%;
	}
	.g-text{
		@extend .transition;
		opacity: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(252, 255, 255, 0.8);
		position: absolute;
		text-align: center;
		overflow: hidden;
	}
	.g-featured-link{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		right: 0;
		z-index: 10;
	}
	h2{
		@extend .transition2;
		font-size: 15px;
    line-height: 17px;
    margin: 0px auto;
    top: 100%;
    margin-top: -40px;
    left: 0;
    right: 0;
    padding-top: 20px;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #4545b1;
    color: #fff;
	}
	&:hover{
		.g-text{
			opacity: 1;
			h2{
				top: 50%;
			}
		}
	}
}